h1 {
  font-family: 'Shantell Sans', cursive;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  padding-top: 3rem;
}

h3 {
  font-family: 'Shantell Sans', cursive;
  font-style: italic;
  text-align: center;
  margin: 1rem;
}

input {
  height: 2rem;
  width: 28rem;
  margin: auto;
  display: block;
}

.nopost {
  text-align: center;
  margin-top: 3rem;
}

.singlepostbox {
  background-color: white;
  width: 80vw;
  border-style: outset;
  border-radius: 0.7rem;
  margin: 2rem auto;
  padding: 0.7rem;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}
